@charset "UTF-8";

$icon-spacing: 1px;
$icon-layout: horizontal;
// @import "txt_img/*.png";
// @import "txt_title/*.png";
// @include all-txt_img-sprites;
// @include all-txt_title-sprites;


// .txt_img {
// 	&-index {
// 		@each $name in video, news, column {
// 			&-#{$name} {
// 				@include wh2(txt_img-sprite-width(index-#{$name}) txt_img-sprite-height(index-#{$name}));
// 			}
// 		}
// 	}
// }
// .txt_title {
// 	&-title {
// 		@each $name in news, understanding_1, understanding_2, understanding_3, symptoms_1, symptoms_2, diagnosis_1, diagnosis_2, diagnosis_3, diagnosis_4, diagnosis_5, coexisting_1, coexisting_2, coexisting_3, information, upload_pic, faq, msg, media, links {
// 			&-#{$name} {
// 				@include wh2(txt_title-sprite-width(title-#{$name}) txt_title-sprite-height(title-#{$name}));
// 			}
// 		}
// 	}
// }

.txt {
	&-w1 {
		color: #fff;
	}
	&-ft1 {
		color: #fff;
		@include adjFontSize(12px, 0.8);
	}
	&-ft2 {
		color: #fff;
		font-weight: bold;
		font-family: $normal_font4;
		@include adjFontSize(18px, 1);
		letter-spacing: 1px;
	}
	&-tw {

	}
	&-fc1 {
		color: $normal_color;
	}
}


.news-title {
	@include qualify('.index_news'){
		color: #282828;
		@include adjFontSize(16px, 1.6);
	};
}
.news-time {
	@include qualify('.index_news'){
		color: $normal_color;
		@include adjFontSize(16px, 1.6);
	};
}


.link {
	&-1 {
		transition: all 0.3s $easeInOutCubic;
		border-bottom: 1px solid rgba($normal_color, 0);
		&:hover {
			border-bottom: 1px solid rgba($normal_color, 1);
		}
		&:active {
			@include hover;
		}
	}
	&-2 {
		@include linkeffect(#000);
	}
	&-3 {
		@include linkeffect($normal_color);
	}
}



// button.icon {
// 	margin: 0;
// 	border: none;
// }


.icon {
	&-facebook {
		@include wh2(95 28);
		@include bg-i(0, 0);
	}
	&-pixnet {
		@include wh2(61 28);
		@include bg-i(-96, 0);
	}
	&-line {
		@include wh2(29 28);
		@include bg-i(-158, 0);
	}
	&-phone {
		@include wh2(20 16);
		@include bg-i(-189, 0);
	}
// 	&-playBtn {
// 		@include wh2(75 76);
// 		@include bg-i(0, 0);
// 	}
// 	.information_page .list-item-header & {
// 		display: inline-block;
// 		vertical-align: middle;
// 		@include wh2(40);
// 		margin-right: 0.8em;
// 		&-step1-row2 {
// 			@include bg-i(-110, 0);
// 		}
// 		&-step1-row3 {
// 			@include bg-i(-110, -41);
// 		}
// 		&-step2-row2 {
// 			@include bg-i(-110, -82);
// 		}
// 	}
// 	#notifications-full-icon & {
// 		@include absolute(0, 0, 0, 0);
// 		margin: auto;
// 		display: block;
// 		@include wh2(40);
// 		@include bg-i(-110, -41);
// 	}

}

