footer {
	width: 100%;
	&.global_ft {
		position: relative;
		min-height: 145px;
		// @include background-image(linear-gradient(#008ad8, #0066ba));
		background-color: #fff;
		// @include padding-leader(0.8);
		.service_map {
			background-color: #333;
			h3 {
				color: $normal_color;
				font-family: $normal_font;
				@include adjFontSize(18px, 1);
			}
			ul {
				padding-left: 0;
				padding-right: 0;
			}
			li {
				width: 100%;
			}
			a {
				padding: 0.1em 0;
				color: #9fa0a0;
				@include adjFontSize(14px, 1.2);
				@include linkeffect($normal_color);
			}
		}
		.other_inf {
			background-color: $normal_color;
			@include rhythm-padding(0.6);
		}
		.logo {
			@include wh2(46 39);
			svg {
				fill: #fff;
			}
		}
		.copyright {
			
		}
	}
}


